langdetect
gTTS
openai
google-genai
Pillow
numpy
opencv-python
cryptography
pygame
boto3
pydub
pypinyin
pandas
requests
beautifulsoup4
openpyxl
SpeechRecognition
pyperclip
python-docx
python-pptx
PyPDF2
